.App {
  text-align: center;
}

.wrapper {
  width: 900px;
  margin: 0 auto;
  text-align: left;
}

.textarea-with-data {
  width: 100%;
}

.nest-list {
  height: 300px;
  overflow-y: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
